{% extends "layout.html" %}

{% block title %}
    Chat
{% endblock %}

{% block main %}
    <div class="chatWrapper">
        <div class="chat">
        </div>
        <div class="messageWrapper">
            <div class="messageDiv">
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Send a message">
                <button class="sendBtn btn btn-primary" type="button">Send</button>
            </div>
        </div>
    </div>
    <script>
        const divChat = document.querySelector(".chat");
        const sendBtn = document.querySelector(".sendBtn");
        const xhr = new XMLHttpRequest();
        const chatWorker = new Worker("{{ url_for('static', filename='js/chatworker.js') }}");

        xhr.open("POST", "/me/chat");

        function AddMessageChild(msg)
        {
            const messageParent = document.querySelector(".messageDiv");

            const message = document.createElement("div");
            message.setAttribute("id", msg["message_id"]);
            const messageP = document.createElement("p");
            if (msg["is_sender"])
            {
                message.setAttribute("style", "padding: .5em; display: flex; justify-content: end;");
                messageP.setAttribute("style", "padding: .5em; width: 500px; background-color: #1aa644; color: #ffffff;");
            } else
            {
                message.setAttribute("style", "padding: .5em;");
                messageP.setAttribute("style", "padding: .5em; width: 500px; background-color: #0d5923; color: #ffffff;");
            }
            messageP.innerHTML = msg["message"];
            message.appendChild(messageP);
            messageParent.appendChild(message);
        }

        function ButtonSendMessageEvent(event)
        {
            const inputMessage = document.querySelector(".inputMessage");

            if (!inputMessage.value)
            {
                return 1;
            }

            json = {};
            json["action"] = "PostChatMessage";
            json["chat_id"] = event.target.parentElement.getAttribute("chat-id");
            json["is_sender"] = true;
            json["message"] = inputMessage.value;
            json["time_stamp"] = Date.now();

            const xhr = new XMLHttpRequest();

            xhr.open("POST", "/me/chat");
            xhr.onreadystatechange = function()
            {
                if (xhr.readyState == 4 && xhr.status == 200)
                {
                    const status = JSON.parse(xhr.responseText);

                    if (status["status"] == 200)
                    {
                        inputMessage.value = "";
                        json["message_id"] = status["message_id"];
                        AddMessageChild(json);
                    }
                }
            }
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify(json));
        }

        function MessageWorkerEvent(event)
        {
            const data = event.data;
            const messageDiv = document.querySelector(".messageDiv");
            const messageInputGroup = document.querySelector(".input-group");

            if (data["workerAction"] == "GET" && messageDiv.children.length > 0)
            {
                json = {};
                json["message_id"] = messageDiv.children[messageDiv.children.length -1].getAttribute("id");
                json["chat_id"] = messageInputGroup.getAttribute("chat-id");
                chatWorker.postMessage(json);
            } else if (data["workerAction"] == "UPDATE")
            {
                if (data["messages"]["message_id"] <= messageDiv.children[messageDiv.children.length -1].getAttribute("id"))
                {
                    return 1;
                }

                for (let msg of data["messages"])
                {
                    AddMessageChild(msg);
                }
            }
        }

        function AddMessageWrapperChildren(msgs, chatId)
        {
            let messageDiv = document.querySelector(".messageDiv");
            let messageInputGroup = document.querySelector(".input-group");
            const messageWrapper = document.querySelector(".messageWrapper");

            if (messageDiv)
            {
                messageDiv.remove();
                messageDiv = "undefined";
            }

            if (messageInputGroup)
            {
                messageInputGroup.remove();
                messageInputGroup = "undefined";
            }

            messageDiv = document.createElement("div");
            messageDiv.setAttribute("class", "messageDiv");
            messageWrapper.appendChild(messageDiv);

            messageInputGroup = document.createElement("div");
            messageInputGroup.setAttribute("class", "input-group");
            messageInputGroup.setAttribute("chat-id", chatId);
            messageWrapper.appendChild(messageInputGroup);

            const inputText = document.createElement("input");
            inputText.setAttribute("type", "text");
            inputText.setAttribute("class", "inputMessage form-control");
            inputText.setAttribute("placeholder", "Send a message");
            messageInputGroup.appendChild(inputText);

            const inputButton = document.createElement("button");
            inputButton.setAttribute("class", "btn btn-primary");
            inputButton.setAttribute("type", "button");
            inputButton.innerHTML = "Send";
            inputButton.addEventListener("click", ButtonSendMessageEvent);
            messageInputGroup.appendChild(inputButton);

            for (let msg of msgs)
            {
                AddMessageChild(msg);
            }

            chatWorker.removeEventListener("message", MessageWorkerEvent);
            chatWorker.addEventListener("message", MessageWorkerEvent);
        }

        function ChatUserClickEvent(event)
        {
            const element = event.target;

            if (!element.getAttribute("chat-id"))
            {
                return 1;
            }

            const chatId = element.getAttribute("chat-id");
            const xhr = new XMLHttpRequest();

            xhr.open("POST", "/me/chat");
            xhr.onreadystatechange = function()
            {
                if (xhr.readyState == 4 && xhr.status == 200)
                {
                    const msgs = JSON.parse(xhr.responseText);

                    AddMessageWrapperChildren(msgs, chatId);
                }
            }

            json = {};
            json["action"] = "GetChatMessages";
            json["chat_id"] = chatId;

            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify(json));
        }

        function AddChatUser(chat)
        {
            const divChatUser = document.createElement("div");
            divChatUser.setAttribute("class", "chatUser");
            divChatUser.setAttribute("chat-id", chat["chat_id"]);
            divChatUser.addEventListener("click", ChatUserClickEvent);
            divChat.appendChild(divChatUser);
            //-----
            const divImg = document.createElement("div");
            divChatUser.appendChild(divImg);

            const img = document.createElement("img");
            img.setAttribute("src", "https://i.ibb.co/jfB6fJ1/user.png");
            divImg.appendChild(img);
            //-----
            const divUser = document.createElement("div");
            divChatUser.appendChild(divUser);

            const fullname = document.createElement("strong");
            fullname.innerHTML = chat["first_name"];
            if (chat["middle_name"])
            {
                fullname.innerHTML += " " + chat["middle_name"];
            }
            fullname.innerHTML += " " + chat["last_name"];
            divUser.appendChild(fullname);

            const subject = document.createElement("p");
            subject.innerHTML = chat["subject"];
            divUser.appendChild(subject);
        }

        xhr.onreadystatechange = function()
        {
            if (xhr.readyState == 4 && xhr.status == 200)
            {
                const chats = JSON.parse(xhr.responseText);

                for (let chat of chats)
                {
                    AddChatUser(chat);
                }
            }
        }
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({ "action": "GetChats" }));
    </script>
{% endblock %}