{% extends "layout.html" %}

{% block title %}
    My Listing
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <center>
            <button class="Add btn btn-success my-2">Add Product</button>
            <button class="Delete btn btn-danger my-2">Delete Product</button>
        </center>
    </div>
    <div class="cmodal">
        <div class="cmodalContent">
            <div class="cmodalContentClose">&#x2715</div>
            <form>
                <input type="hidden" name="action" value="Add">
                <div class="listingAlert alert alert-danger" style="display: none;">
                    <strong>Invalid!</strong> <span></span>
                </div>
                <label class="form-label">Title:</label>
                <div class="mb-3">
                    <input class="form-control" type="text" name="title" placeholder="Enter Title" required>
                </div>
                <label class="form-label">Price:</label>
                <div class="input-group mb-3">
                    <input class="form-control" type="number" name="price" placeholder="Enter Price" step="0.01" required>
                </div>
                <div class="mb-4">
                    <label for="category" class="form-label">Category:</label>
                    <select class="form-select" name="category" required>
                        <option value="" selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category[0].id }}">{{ category[0].name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="form-label">Description:</label>
                <div class="input-group mb-3">
                    <textarea class="form-control" name="description" rows="5" required></textarea>
                </div>
                <div class="mb-4">
                    <label for="availability" class="form-label">Availability:</label>
                    <select class="form-select" name="availability" required>
                        <option value="" selected>Choose Availability</option>
                        <option value="0">Single Item</option>
                        <option value="1">In Stock</option>
                    </select>
                </div>
                <label class="form-label">Photos:</label>
                <div class="input-group mb-3">
                    <input class="form-control" type="file" name="images" accept="image/*" multiple required>
                </div>
                <input class="cmodalContentBtn" type="submit" name="submit" value="Add" style="padding: .5em; width: 5em;">
            </form>
        </div>
    </div>
    <div class="listing container-fluid">
        {% if products|length <= 0 %}
            <h3 class="my-5">No product listed</h3>
        {% endif %}
        {% for value in products %}
            {% set product = value[0] %}
            {% set productImg = value[1] %}

            <div class="card m-1" style="max-height: 25em; width: 15em; overflow: hidden; background-color: #1aa644; color: #ffffff;">
                <img class="card-img-top" src="{{ url_for('uploads', filename='imgs/' + productImg.file_name) }}" height="200px">
                <div class="card-body">
                    <h5 style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">{{ product.title }}</h5>
                    <p class="card-text" style="margin: 0; text-overflow: ellipsis;"><b>Price:</b> {{ product.price }}</p>
                    {% if product.availability %}
                        <p class="card-text" style="text-overflow: ellipsis;"><b>Availability:</b> In Stock</p>
                    {% else %}
                        <p class="card-text" style="text-overflow: ellipsis;"><b>Availability:</b> Single Item</p>
                    {% endif %}
                    <a href="/product/{{ product.id }}" class="btn btn-secondary">View</a>
                    <div class="form-check">
                        <input type="checkbox" class="checkDelete form-check-input" name="delete" value="{{ product.id }}">
                        <label class="form-check-label" for="check2">Delete</label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/listing.js') }}"></script>
{% endblock %}