body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1aa644;
}

.queryForm input[type=text] {
    border-radius: 2em 0 0 2em;
}

.queryForm input[type=submit] {
    border-radius: 0 2em 2em 0;
    background-color: #0d5923;
    color: #ffffff;
}

.navul li {
    padding: .5em;
    display: flex;
    flex-direction: row;
}

.navul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

.navul li img {
    margin: 0 auto 0 auto;
    padding: 0;
    width: 1.5em;
}

.navul li div span {
    margin-left: 1em;
}

.navulliNotifSpan {
    display: none;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    margin: 0;
    padding: 0;
    z-index: 1;
    top: 2.5em;
    right : -.5em;
    display: none;
    overflow: hidden;
    position: absolute;
    background-color: #1aa644;
    border: 1px solid #ffffff;
}

.dropdown-content li:hover {
    background-color: #0d5923;
}

.dropdown-content li a {
    margin: 0 .3em 0 .3em;
    padding: 0 0 .3em 0;
    width: 8em;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.banner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35em;
    background-image: url("https://i.ibb.co/dQBMpV4/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.categories {
    margin: 0;
    background-color: #0d5923;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: .5em .5em;
}

.categories div {
    margin: .5em;
    padding: 0;
    width: 10em;
    height: 10em;
    background-color: #1aa644;
    border-radius: .5em .5em;
    text-align: center;
}

.categories div a {
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
}

.categories div form input[type=submit] {
    margin: 0;
    padding: 0;
    background-color: #1aa644;
    border: 0px;
    color: #ffffff;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
}

.slogan h2 {
    letter-spacing: .3em;
    font-weight: bold;
}

footer {
    background-color: #1aa644;
    height: 15em;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

.contactus {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formArea {
    border: 1px solid #1aa644;
    border-radius: .2em;
    padding: 10em 5em 5em 5em;
}

.formArea input[type=submit], .registerForm input[type=submit], .cmodalContentBtn {
    border-radius: 1em;
    background-color: #0d5923;
    color:#ffffff;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #1aa644;
    border-radius: .3em .3em;
}

.registerForm h2 {
    font-size: 4em;
}

.accTitle {
    margin: 1em 0 1em 0;
    text-align: center;
}

.acc {
    margin: 1em 0 1em 0;
    display: flex;
    flex-direction: row;
    background-color: #1aa644;
    color: #ffffff;
}

.acc ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    background-color: #0d5923;
}

.acc ul li {
    margin: 0;
    padding: 1em;
    cursor: pointer;
    text-align: center;
}

.acc ul li a {
    display: inline-block;
    width: 15em;
}

.tabContent {
    padding: 5em;
    width: 100%;
}

.cmodal {
    margin: 0;
    padding: 4em 0 0 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    position: fixed;
    overflow: scroll;
    background-color: #000000;
    background-color: rgb(0, 0, 0, .5)
}

.cmodalContent {
    margin: 0 auto 0 auto;
    padding: 2em;
    width: 80%;
    background-color: #ffffff;
    color: #000000;
}

.cmodalContentClose {
    margin-bottom: 2em;
    cursor: pointer;
}

.searchList, .listingContent {
    min-height: 40em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#carouselExample {
    width: 500px;
    border: 1px solid #1aa644;
}

.productView {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 35em;
}

.productViewContent {
    margin: 0;
    padding: 2em;
    background-color: #1aa644;
    color: #ffffff;
}

.chatWrapper {
    display: flex;
    flex-direction: row;
    min-height: 40em;
}

.chat {
    display: flex;
    flex-direction: column;
    background-color: #1aa644;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 40em;
}

.chatUser {
    margin: 0;
    padding: .5em;
    max-width: 25em;
    width: 25em;
    min-height: 5.5em;
    height: 5.5em;
    border-top: 1px solid #0d5923;
    border-bottom: 1px solid #0d5923;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatMessage {
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatUser p, .chatMessage p {
    margin: 0;
}

.chatMessageArea {
    width: 100%;
}
 
 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

    .categories {
        flex-direction: column;
    }

    .contactus {
        flex-direction: column;
    }

    .contactusImg {
        margin: 0 auto 0 auto;
        width: 30%;
    }

    .navulliNotifSpan {
        display: inline;
        visibility: visible;
    }

    .dropdown-content {
        right : -5em
    }

    .acc {
        flex-direction: column;
    }
}
