{% extends "layout.html" %}

{% block title %}
    Contact us
{% endblock %}

{% block main %}
    <div class="contactus container-fluid p-5">
        <div class="m-5">
            <img src="https://violetsvegnecomics.files.wordpress.com/2022/11/contact-violets-vegan-comics.png?w=661" width="500px">
        </div>
        <div class="formArea w-100 m-2">
            <form action="/contactus" method="POST">
                <div class="mb-4">
                    <label for="fullname" class="form-label">Full name:</label>
                    <input class="form-control" type="text" name="fullname" placeholder="Enter name">
                </div>

                <div class="mb-4">
                    <label for="email" class="form-label">Email:</label>
                    <input class="form-control" type="text" name="email" placeholder="Enter email">
                </div>

                <div class="mb-5">
                    <label for="message" class="form-label">Message:</label>
                    <textarea class="form-control" name="message" rows="10" placeholder="Tell us here..."></textarea>
                </div>

                <center><input class="btn" type="submit" value="Contact us"></center>
            </form>
        </div>
    </div>
{% endblock %}
