{#
    Todo's:
    - Fix category text
#}

{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="banner">
    </div>
    <div class="container-fluid py-4">
        <h2 class="text-center m-5">Categories</h2>
        <div class="categories container-fluid p-5">
            {% for category in categories %}
                {{ category.name }}
                <div>
                    <form style="margin-top: 1.3em;" action="/q" method="GET">
                        <input name="category" value="FruitsAndVegetables" type="hidden">
                        <input type="submit" value="{{ category[0].name }}" style="max-width: 5em;">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="slogan container">
        <h2 class="text-center p-5 m-5">Empowering Vegan Sellers to Share the Goodness</h2>
    </div>
{% endblock %}
