{#
    Todo's:
    - Make categories dynamically insert from database
#}

{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="banner">
    </div>
    <div class="container-fluid py-4">
        <h2 class="text-center m-5">Categories</h2>
        <div class="categories container-fluid p-5">
            <div>
                <form style="margin-top: 1.3em;" action="/q" method="GET">
                    <input name="category" value="FruitsAndVegetables" type="hidden">
                    <input type="submit" value="Fruits&#10;and&#10;Vegetables">
                </form>
            </div>
            <div>
                <form style="margin-top: 2.5em;" action="/q" method="GET">
                    <input name="category" value="WholeGrains" type="hidden">
                    <input type="submit" value="Whole&#10;Grains">
                </form>
            </div>
            <div>
                <form style="margin-top: 3.5em;" action="/q" method="GET">
                    <input name="category" value="Legumes" type="hidden">
                    <input type="submit" value="Legumes">
                </form>
            </div>
            <div>
                <form style="margin-top: 1.5em;" action="/q" method="GET">
                    <input name="category" value="NutsAndSeeds" type="hidden">
                    <input type="submit" value="Nuts&#10;and&#10;Seeds">
                </form>
            </div>
            <div>
                <form style="margin-top: 2.5em;" action="/q" method="GET">
                    <input name="category" value="PlantbasedProteins" type="hidden">
                    <input type="submit" value="Plant-based&#10;Proteins">
                </form>
            </div>
        </div>
    </div>
    <div class="slogan container">
        <h2 class="text-center p-5 m-5">Empowering Vegan Sellers to Share the Goodness</h2>
    </div>
{% endblock %}
